################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Funeral.Core/bin/Release/netcoreapp3.1/publish/wwwroot/SaveWordFile/20200623/2020年06月23日SQL配置脚本.docx
/Funeral.Core/bin/Release/netcoreapp3.1/publish/wwwroot/SaveWordFile/20200623
/Funeral.Core/bin/Release/netcoreapp3.1/publish/wwwroot/SaveWordFile/20200624
/Funeral.Core/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/SaveWordFile/20200623
/Funeral.Core/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/SaveWordFile/20200624
/Funeral.Core/wwwroot/SaveWordFile
